################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BerlinClock/v15
/bin/Debug
/obj/Debug
/packages/SpecFlow.1.9.0
/BerlinClock.sln.DotSettings.user
/BerlinClock.Tests/bin/Debug
/BerlinClock.Tests/obj/Debug
/packages
/BerlinClock/bin/Debug
/BerlinClock/obj/Debug
/BerlinClock/packages
/.vs/BerlinClock/v16
